body {
    background-color: #05040A;
    min-height: 100vh;
    color: #FDFDFD;
}

.hero-carousel {
    width: 1000px;
    height: 700px;
    object-position: top;
  }

.topic-section {
    display: flex;
    margin-bottom: 30px;
}

.topic {
    display:inline-block;
}

#signup-form {
    max-width: 50%;
}

.profile-container {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}

.left-container {
    margin-right: 100px;
    width: 300px;
}