* {
    box-sizing: border-box;
}

body {
    background-color: #05040A;
    min-height: 100vh;
    color: white;
}

.post-detail-container {
  margin-top: 20px;
}

.hero-carousel {
    width: 1000px;
    height: 700px;
    object-position: top;
  }

.topic-section {
    display: flex;
    padding-bottom: 100px;
}

.topic {
    display:inline-block;
}

#signup-form {
    max-width: 50%;
}

/* Modal */
.bg-modal {
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	display: none;
	justify-content: center;
	align-items: center;
}

.modal-contents {
	height: 300px;
	width: 500px;
	background-color: rgba(0, 0, 0, .6);
  opacity: .8;
	text-align: center;
	padding: 20px;
	position: relative;
	border-radius: 4px;
}

#modal-submit {
  font-size: 20px;
}

#modal-image {
  height: 150px;
  width: 100px;
  opacity: 1;
}

#log-in-tag {
  height: 60px;
  width: 100px;
  font-size: 20px;
}

input {
	align-self: center;
  margin: 15px auto;
	display: block;
	width: 50%;
	padding: 8px;
	border: 1px solid black;
  opacity: 1;
}

.close {
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 42px;
	color: #333;
	transform: rotate(45deg);
	cursor: pointer;
}


* {box-sizing:border-box}

/* Carousel */
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  padding-top: 50px;
}

/* Hide the images by default */
.mySlides {
  display: none;
  width: 100%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with opacity*/
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}


@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.profile-container {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.left-container {
    margin-right: 50px;
    width: 300px;
    background-color: rgb(56, 54, 54, 0.3);
    color: white;
    height: 400px;
    border-radius: 20px;
    margin-top: 50px;
    padding: 20px;
}
/* This LI is targeting the error messages if there is a SignUp error.  Will need to figure out how to target more specifically */
li {
    color: red;
}

.is-red {
    background-color: rgb(197, 40, 64);
    height: 250px;
    padding-right: 40px;
    padding-left: 40px;
    
}

.navbar-item {
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: 30px;
}

#wayfarer-id {
    color: white;
    font-family: 'Abril Fatface', cursive;
    font-size: 50px;
}

@media only screen and (max-width: 1023px) {
    .navbar-brand {
        padding-top: 110px
    }
}

h1 {
    font-size: 30px;
    padding-top: 30px;
}

h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.myposts-container {
    display: flex;
    flex-direction: column;
    width: 990px;
}

.single-post {

    background-color: rgb(255, 255, 255);
    color: black;
    margin-bottom: 30px;
    border-radius: 15px;
    padding-right: 10px;
    height: 230px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.post-title {
    font-size: 25px;
}



.navbar-burger {
    color: white;
    margin-top: 30px;
}

.is-active {
    background-color: black;
    
}

.wrap {
    background-color: rgb(197, 40, 64);
    height: 216px;
    width: 100%;
    position: relative;
    overflow: hidden;
}
  .circle {
    width: 846px;
    height: 389px;
    border-radius: 69%;
    background: black;
    position: absolute;
    right: -139px;
    top: -87px;
}

.post-text {
  width: 268%;
}

  .post-img {
    padding-right: 30px;
    height: 100%;
    width: 1500px;
}

.post-img > img {
    height: 100%;
    width: 100%;
}

#profile_pic {
  padding-left: 34px;
  margin-left: 47px;
  margin-bottom: 34px;

}