{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    {% comment %} Our css {% endcomment %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Goblin+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">  
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="{% static 'scripts/main.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    {% block css %}
    {% endblock %}
    <title>Wayfarer</title>
  </head>
  <body>

      <nav class="navbar is-red wrap" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <img id="navbar_image"  src="https://cdn.fastly.picmonkey.com/content4/previews/celebration_ephemera/celebration_ephemera_27_384.png" alt="">
          <a class="navbar-item" id="wayfarer-id" href="/">Wayfarer</a>
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div class="circle"></div>
          <div class="navbar-menu navbar-start">
            {% comment %} <a class="navbar-item" href="{% url 'about' %}">About</a> {% endcomment %}
          </div>
          {% if user.is_authenticated %}
          <div class="navbar-menu navbar-end">
            <span class="navbar-item">Welcome: {{user.username}}</span>
            <a class="navbar-item" href="/profile">My Profile</a>
            <a class="navbar-item" href="{% url 'logout' %} {{ next }}">Logout</a>
          </div>
          {% else %}
          <div class="navbar-menu navbar-end">
            <a class="navbar-item" href="{% url 'login' %}">Log In</a>
            <!-- link anchor tag to modal -->
            <!-- Modal Tag <a href="#" id="log-in-tag" class="tag is-black">Log In</a> -->
            <a href="{% url 'signup' %}" class="navbar-item">Signup</a>
          </div>
          {% endif %}
        </nav>


  




        <div class="container">
     
          {% block content %}
          {% comment %} 
          Our other pages will add all of their content into this space 
          {% endcomment %}
          {% endblock %}
     
        </div>


      </div>
    </div>
    </body>
</html>


