{% extends 'base.html' %}

{% block content %}

<h1>Wayfarer is...</h1>

<div class="topic">
    <h1>Topic</h1>
    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis odit architecto repellendus optio rerum nihil, sequi aperiam dolor modi? Aliquid voluptas excepturi vitae quos obcaecati, ipsum ullam temporibus nisi possimus?</h3>
</div>

<div class="topic">
    <h1>Topic</h1>
    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis odit architecto repellendus optio rerum nihil, sequi aperiam dolor modi? Aliquid voluptas excepturi vitae quos obcaecati, ipsum ullam temporibus nisi possimus?</h3>
</div>

<div class="topic">
    <h1>Topic</h1>
    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis odit architecto repellendus optio rerum nihil, sequi aperiam dolor modi? Aliquid voluptas excepturi vitae quos obcaecati, ipsum ullam temporibus nisi possimus?</h3>
</div>



{% endblock %}