{% extends 'base.html' %}

{% block content %}

<h1>Your Profile Page</h1>

<div class="profile-container">

    <div class="left-container">
        <p>Name: {{user.first_name}}</p>
        <button>Edit</button>

        <p>Current City: {{profile.current_city}}</p>
        <button>Change</button>

        <p>Join Date: </p>
        {{ user.date_joined }}
    </div>

    <div class="right-container">

        <h2>My Posts</h2>

        <section class="myposts-container">
            <div class="single-post">
                <img src="{{post.image}}">
                <p class="post-title">{{post.title}}</p>
                <p>
                    {{post.text}}
                </p>
            </div>
            
            <div class="single-post">
                <img src="">
                <p class="post-title">Title</p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas beatae, voluptatum dolores accusamus nisi quo in nam laboriosam consectetur pariatur repellendus perferendis voluptas, dolore magni ad cupiditate. Nihil, minus nesciunt?
                </p>
            </div>
            
            <div class="single-post">
                <img src="">
                <p class="post-title">Title</p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas beatae, voluptatum dolores accusamus nisi quo in nam laboriosam consectetur pariatur repellendus perferendis voluptas, dolore magni ad cupiditate. Nihil, minus nesciunt?
                </p>
            </div>

        </section>

    </div>
    
</div>

{% endblock %}