{% extends 'base.html' %}

{% block content %}

<h1>Your Profile Page</h1>

<div class="profile-container">

    <div class="left-container">
        <p><a class="far fa-edit" href="{% url 'update_user' user.pk %}"></a> Name: {{user.first_name}}</p><br><br>
        
        

        <p><a class="far fa-edit" href="{% url 'update_profile' profile.pk %}"></a> Current City: {{profile.current_city}}</p><br><br>
        
        

        <p>Join Date: {{user.date_joined}}</p>
    </div>

    <div class="right-container">

        <h2>My Posts</h2>

        <section class="myposts-container">
            <div class="single-post">
                <img src="">
                <p class="post-title">Title</p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas beatae, voluptatum dolores accusamus nisi quo in nam laboriosam consectetur pariatur repellendus perferendis voluptas, dolore magni ad cupiditate. Nihil, minus nesciunt?
                </p>
            </div>
            
            <div class="single-post">
                <img src="">
                <p class="post-title">Title</p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas beatae, voluptatum dolores accusamus nisi quo in nam laboriosam consectetur pariatur repellendus perferendis voluptas, dolore magni ad cupiditate. Nihil, minus nesciunt?
                </p>
            </div>
            
            <div class="single-post">
                <img src="">
                <p class="post-title">Title</p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas beatae, voluptatum dolores accusamus nisi quo in nam laboriosam consectetur pariatur repellendus perferendis voluptas, dolore magni ad cupiditate. Nihil, minus nesciunt?
                </p>
            </div>

        </section>

    </div>
    
</div>

{% endblock %}